@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    margin: 0;
    grid-template-rows: auto auto;
    height: 100vh;
    background: #FFEBC9;
    font-family: 'Syne Mono', monospace;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* region Main */

.chess {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syne Mono', monospace;
    font-size: 1.5rem;
}

.chess-board {
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    width: 47rem;
    height: 47rem;
    background: #F4DFD0;
    border-left: 1.5rem rgba(176,91,59,.5) solid;
    border-top: 1.5rem rgba(176,91,59,.7) solid;
    border-right: 1.5rem rgba(176,91,59,.85) solid;
    border-bottom: 1.5rem rgba(176,91,59,.7) solid;
    box-shadow: 0 0 1.5rem 0 rgba(176,91,59,0.5);

}

.row {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}

.square {
    color: #B05B3B;
}

.row:nth-of-type(even) .square:nth-of-type(odd),
.row:nth-of-type(odd) .square:nth-of-type(even) {
    background: #B05B3B;
    color: #F4DFD0;
}

.square {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.row .square:first-of-type {
     justify-content: space-between;
    align-items: flex-start;

    & > span:last-of-type {
        align-self: end;
      }
}

#piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75%;
    max-width: 75%;
    object-fit: contain;
    z-index: 10;
}

/* endregion */

/* region Input Field */

.input-output {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
}

.input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-field__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(244,233,208,1);
    padding: 6rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(176,91,59,0.1);
}

.input-field__form input {
    margin: 1rem 0;
    border: none;
    outline: none;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(176,91,59,0.1);
}

.input-field__form label {
    color: #B05B3B;
    font-size: 1.25rem;
}

.input-text {
    color: #B05B3B;
    font-family: 'Syne Mono', monospace;
    font-size: 1.25rem;
    width: 1.5rem;
}

.input-btn {
    color: #F4DFD0;
    background: #B05B3B;
    width: 13rem;
    font-family: 'Syne Mono', monospace;
    font-size: 1.25rem;
    cursor: pointer;
}

.output-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.25rem;
}

.output-field__textsField {
    background: #F4DFD0;
    height: 11rem;
    width: 100%;
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    border-radius: 1rem;
}

.output-field__textsField > * {
    scroll-snap-align: start;
}

.output-field__textsField::-webkit-scrollbar {
    display: none;
}

.output-field__texts {
    color: #B05B3B;
    text-align: center;
    padding: 4rem 0;
    height: 3rem;
    font-size: 2rem;
}

.output-field__scrollDown {
    margin-top: -1.5rem;
    margin-bottom: 3.5rem;
    z-index: 1;
}

.output-field__clearBtn {
    border: none;
    color: #F4DFD0;
    background: #B05B3B;
    width: 13rem;
    font-family: 'Syne Mono', monospace;
    font-size: 1.25rem;
    outline: none;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(176,91,59,0.1);
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
}

/* endregion */

@media screen and (min-width: 1600px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: none;
    }
    .chess {
        justify-content: flex-end;
    }
}