@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

:root {
  --primary-color: oklch(0.57 0.1199 40.85);
  --secondary-color: oklch(0.95 0.0494 81);
  --background-color: oklch(0.92 0.0307 57.9);
  --box-shadow: 0 0 1.5rem 0 oklch(from var(--primary-color) l c h / 0.04);
  --size-multiplier: 0.25rem;
}

html {
  font-family: "Syne Mono", monospace;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  gap: calc(var(--size-multiplier) * 30);
  margin: 0;
  height: 100dvh;
  background: var(--secondary-color);
  font-size: calc(var(--size-multiplier) * 6);

  #piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75%;
    max-width: 75%;
    object-fit: contain;
    z-index: 10;
  }
  
  .error-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    font-size: 1.25rem;
    text-align: center;
  }

  .button {
    border: none;
    color: var(--background-color);
    background: var(--primary-color);
    font-size: 1.25rem;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    font-family: inherit;
    flex-shrink: 0;
  }

  main {
    display: grid;
    align-content: end;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
  
    .chess-board {
      display: grid;
      grid-template-rows: repeat(8, 12.5%);
      width: min(90vw, 90vmin);
      height: min(90vw, 90vmin);
      aspect-ratio: 1 / 1;
      background: var(--background-color);
      border: calc(var(--size-multiplier) * 3) solid;
      border-left-color: oklch(from var(--primary-color) l c h / 0.5);
      border-top-color: oklch(from var(--primary-color) l c h / 0.7);
      border-right-color: oklch(from var(--primary-color) l c h / 0.85);
      border-bottom-color: oklch(from var(--primary-color) l c h / 0.7);
      box-shadow: var(--box-shadow);
    }
  
    .row {
      display: grid;
      grid-template-columns: repeat(8, 12.5%);
  
      &:nth-of-type(even) .tile:nth-of-type(odd),
      &:nth-of-type(odd) .tile:nth-of-type(even) {
        background: var(--primary-color);
        color: var(--background-color);
      }
  
      .tile {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        color: var(--primary-color);
        font-size: clamp(0.75rem, 3vmin, 1.5rem);
  
        &:first-of-type {
          justify-content: space-between;
          align-items: flex-start;
  
          span:last-of-type {
            align-self: end;
          }
        }
      }
    }
  }
  
  aside {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.75rem;
      background: var(--background-color);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: var(--box-shadow);
      width: 100%;
      max-width: 320px;
      
      &:is(.hidden) {
        display: none;
      }
  
      input {
        border: var(--size-multiplier) solid oklch(from var(--primary-color) l c h / 0.4);
        outline: none;
        padding: 0.75rem;
        text-align: center;
        border-radius: 1rem;
        color: var(--primary-color);
        font-family: "Syne Mono", monospace;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
      }
  
      label {
        color: var(--primary-color);
        font-size: 1rem;
        white-space: nowrap;
        text-align: center;
      }
    }
  
    .output {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      &:is(.hidden) {
        display: none;
      }

  
      .output-text {
        --font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        background: var(--background-color);
        scroll-behavior: smooth;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        border-radius: 1rem;
        height: calc((var(--font-size) * 1.2) + 8rem);
        width: 100%;
  
        p {
          margin: 0;
          scroll-snap-align: start;
          color: var(--primary-color);
          text-align: center;
          padding: 4rem;
          font-size: var(--font-size);
          line-height: 1.2;
          white-space: nowrap;
        }
  
        &::-webkit-scrollbar {
          display: none;
        }
      }
  
      span {
        font-size: .875rem;
        color: var(--primary-color);
        z-index: 1;
      }
    }
  }


  @media (min-width: 800px) {
    main {
      grid-template: minmax(0, calc(var(--size-multiplier) * 192)) / minmax(0, calc(var(--size-multiplier) * 192));
      justify-content: center;
      
      .chess-board {
        width: 100%;
        height: 100%;
      }
    }

    aside {
      align-items: center;
      justify-content: center;

      form {
        flex-direction: row;
        padding: 1.5rem;
        max-width: unset;
        width: unset;
      }

      .output {
        .output-text {
          --font-size: 2rem;
        }
      }
    }
  }

  @media (min-width: 1440px) {
    grid-template: none / 56% minmax(0, 44%);

    main {
      align-content: center;
      justify-content: end;
    }

    aside {
      height: 100%;
      justify-content: flex-start;

      form {
        flex-direction: column;
        padding: 4rem;
        width: unset;
        height: unset;
      }
    }
  }
}



